
 .btn-circle-edit {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     background-color: #17a2b8; /* Teal color */
     color: white;
     text-decoration: none;
     font-size: 18px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.2);
     transition: background-color 0.3s, transform 0.2s;
     border: 1px solid #117a8b;
 }

.btn-circle-edit:hover {
    background-color: #138496; /* Darker Teal */
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

 .btn-circle-delete {
     display: inline-flex !important;
     justify-content: center;
     align-items: center;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     background-color: #dc3545; /* Teal color */
     color: white !important;
     border: 1px solid 	#bd2130;
     cursor: pointer;
     font-size: 18px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.2);
     transition: background-color 0.3s, transform 0.2s;
     padding: 0;
 }

 .btn-circle2-edit:hover {
     background-color: #c82333; /* Darker Teal */
     color: white !important;
     transform: translateY(-2px);
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
 }