<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>

    <th:block th:replace="fragments/head :: commonHeader" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/overview.css}" />

    <title>Create New Product</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header :: header}"></div>

<div align="center" class="flex-grow-1">
    <h1 style="color: black">Create New Product</h1>

    <br />
    <!--
    Here is the form that will be used to save the new customer.
    The form is tied to the Customer object you added to the model,
    and on submission it will hit the `/save` endpoint using the
    POST method.
    -->
    <form action="#" th:action="@{/save}"
          th:object="${product}" method="post">
        <!--
        These input fields are used to collect the information
        required to complete the referenced Customer object.
        -->
        <div style="display: inline-block; max-width: 600px;">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Product Name:</td>
                    <td>
                        <label>
                            <input type="text" th:field="*{productName}"
                                   required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>SKU:</td>
                    <td>
                        <label>
                            <input type="text" th:field="*{primaryBarcode}"
                                   required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td>
                        <label>
                            <input type="number" th:field="*{inStockQuantity}"
                                   required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <label>
                            <input type="text" th:field="*{categories}"
                                   required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Retail Price:</td>
                    <td>
                        <label>
                            <input type="number" step="0.01" th:field="*{vbrp}"
                                   required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Cost Price:</td>
                    <td>
                        <label>
                            <input type="number" step="0.01" th:field="*{vbcp}"
                                   required/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="text-center" th:insert="fragments/footer :: inventory-footer"></div>
</body>
</html>